@tailwind base;
@tailwind components;
@tailwind utilities;


.max-1200-container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.max-1032-container{
    max-width: 1032px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.max-320-container{
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}